<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>Conciertos</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/crear-concierto" class="ios" tab="crear-concierto">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Crear concierto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
