<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Concierto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Artista</ion-label>
        <ion-input formControlName="artist" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Lugar</ion-label>
        <ion-input formControlName="place" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input formControlName="value" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Crear Concierto</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>